<a href="https://colab.research.google.com/github/rrankawat/numpy-basic/blob/main/Iterating_Through_Numpy_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iterating Through Numpy Arrays - Numpy For Machine Learning 6

In [ ]:
import numpy as np

In [ ]:
# 1-D
np1 = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

for x in np1:
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 2-D
np2 = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

for x in np2:
  # Print rows
  # print(x)
  for y in x:
    print(y)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 3-D
np3 = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

for x in np3:
  # print(x)
  for y in x:
    # print(y)
    for z in y:
      print(z)

print('------------------')

# Use np.nditer()
for x in np.nditer(np3):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
------------------
1
2
3
4
5
6
7
8
9
10
11
12